@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    min-height: 100vh;
    background-color: #FCDAB8;
}