@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter&display=swap');

/*  Basic Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    min-height: 100vh;
    background-color: #6C776B;
}

/* Right Side Itmes */
img { /*Temporary Size */
    width: 9.5em;
    height: 9.5em;
}

.content {
    display: flex;
}

.plant_side {
    background-color: #FFC15C;
    width: 45%;
    min-height: 100vh;
    padding: 1.25em;
}

.plants_group {
    display: flex;
    flex-wrap: wrap;
}

.title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}


.title {
    font-size: 2.5em;
    color: #6C776B;
    font-family: 'Courgette', sans-serif;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 15px;
    border: 0.05em solid #6C776B;
    width: 95%;
    padding-top: 0.05em;
    padding-bottom: 0.25em;
}

.tacks {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.circle {
    background-color: #6C776B;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    margin-top: -0.625em;
    margin-right: -0.625em;
    margin-left: -0.625em;
}

/* Jar Side */

.jar_side {
    background-color: #FCDAB8;
    width: 55%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.top_rectangle {
    background-color: #EFFAFC;
    width: 70%;
    height: 5%;
    border-radius: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle_rectangle {
    background-color: #EFFAFC;
    width: 70%;
    height: 45%;
    border-radius: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.937em;
}

.substrate {
    background-color: #FCDAB8;
    width: 65%;
    height: 3%;
    border-radius: 0 0 16px 16px;
    margin-top: -2.81em;
}

.highlight {
    background-color: #FFFFFF;
    width: 92%;
    height: 10%;
    border-radius: 1.25em;
}

.top_rectangle .bottom {
    width: 70%;
    margin-top: 0.5em;
}

.side_highlight {
    background-color: #FFFFFF;
    width: 3%;
    height: 10%;
    border-radius: 0.937em;
}

.middle_rectangle .lower {
    height: 20%;
    margin-top: 0.625em;
}

.bottom_rectangle {
    background-color: #DAD9A5;
    width: 55%;
    height: 3%;
    margin-top: 14px;
}

.shelf {
    background-color: #6C776B;
    width: 100%;
    height: 5%;
}